<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Разрешает разблокировку устройства и активацию экрана для UI тестов -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Разрешает сохранение, загрузку скриншотов и screengrab на внешнее хранилище -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Разрешает смену локали -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
</manifest>